<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | casas</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/curioso.css')}}">

</head>

<body>
    <div class="menu col-10">
        <div class="col-3">
            <h3>Curioso</h3>
        </div>
        <div class="col-3">
            <h3>Apasionante</h3>
        </div>
        <div class="col-3">
            <h3>sacrificio</h3>
        </div>
        <div class="col-2">
            <h3>Gloria</h3>
        </div>
    </div>

    </section>


    <section>
        <div class="col-3"><br><br>
            <img
                src="https://media.istockphoto.com/photos/vertical-photo-of-hoses-in-santorini-greece-picture-id688154554?k=6&m=688154554&s=170667a&w=0&h=KXf6bDs0aha8v1KJhyijIjPw0wTmkdS_mzN6Ne16zmM=">
        </div>
        <div class="col-3"><br><br>
            <img src="https://www.xtrafondos.com/wallpapers/vertical/lago-prags-en-italia-3784.jpg">
        </div>
        <div class="col-3"><br><br>
            <img
                src="https://previews.123rf.com/images/rglinsky/rglinsky1209/rglinsky120900015/15518224-vertical-oriented-image-of-church-of-mary-magdalene-located-on-mount-pf-olives-in-jerusalem-israel.jpg">
        </div>
        <div class="col-3"><br><br>
            <img src="https://www.wallpapertip.com/wmimgs/83-836407_1200-x-1920-data-src-paris-france-wallpaper.jpg">
        </div>

    </section>
    <br><br>

    <section>
        <div class="menu2 col-10">
            <div class="col-3">
                <h3>Grecia</h3>
            </div>
            <div class="col-3">
                <h3>Italia</h3>
            </div>
            <div class="col-3">
                <h3>Israel</h3>
            </div>
            <div class="col-2">
                <h3>Francia</h3>
            </div>
        </div>
    </section>


    <section>
        <div class="menu3 col-10"> <br>
            <div class="Prog col-12">
                <h1> Mi amor por viajar y conocer es algo inexplicable </h1>
            </div>
        </div>

    </section>

    <section>
        <div class="prog col-4"><br><br>
            <img src="https://cuponassets.cuponatic-latam.com/backendPe/uploads/imagenes_descuentos/75825/9cf9b65fafa21fa0eebf73c93172e58e5f758312.S.jpg"
                style:"float-center">
        </div>
    </section>

    <section>

        <div class="prog col-4"><br><br>
            <img src="https://aws.traveler.es/prod/designs/v1/assets/940x627/174762.jpg" style:"float-center">
        </div>

    </section>

    <section>

        <div class="prog col-4"><br><br>
            <img
                src="https://www.hola.com/imagenes//viajes/20200513167864/lugares-de-alemania-con-titulo-patrimonio-de-la-humanidad-de-la-unesco/0-823-117/quedlinburgo-alemania-t.jpg?filter=ds75">
        </div>

    </section>


    <section>
        <div class="menu4 col-11">
            <div class="col-3">
                <h3>Perú</h3>
            </div>
            <div class="col-5">
                <h3>Inglaterra</h3>
            </div>
            <div class="col-2">
                <h3>Alemania</h3>
            </div>
        </div>
    </section>


    <section>

        <div class="prog2 col-5"><br><br>
            <img src="https://www.marthadebayle.com/wp-content/uploads/2020/09/amor-de-la-vida.jpg"
                style:"float-center">
        </div>

    </section>

    <section>

        <div class="prog2 col-5"><br><br>
            <img
                src="https://estaticos.muyinteresante.es/media/cache/760x570_thumb/uploads/images/article/55365e44066de9087b6a6226/portada.jpg">
        </div>

    </section>


    <section>
        <div class="menu4 col-11">
            <div class="col-3">
                <h3>Necesitaras AMOR y </h3>
            </div>
            <div class="col-6">
                <h3>PERSEVERANCIA para cada viaje</h3>
            </div>
        </div>

        <section>
            <div class="menu5 col-10"> <br>
                <div class="Prog col-12">
                    <h1> Un paso a la vez </h1>
                    <h1> Si lo puedes soñar, lo puedes vivir <h1>
                            <a href="/">pagina principal</a>
                </div>
            </div>
</body>

</html>