<!--LISTAS-->
<html>
<header>
    <meta charset="utf-8">
    <title>Ejemplo 04</title>
    <link rel="stylesheet" type="text/css" href="css/list.css">
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/doctores.css')}}">
</header>

<body>
    <h1>Doctores a su servisio</h1>
    <div class="centro">
        <ol class="rounded-list">
            <li>
                <a href="#">Cardiologos</a>
                <ol>
                    <li><a href="#">Roberto</a></li>
                    <li><a href="#">Santiago</a></li>
                    <li><a href="#">Sandra</a></li>
                    <li><a href="#">Daniela</a></li>
                    <li><a href="#">Sebastian</a></li>
                    
                </ol>
            </li>
            <li>
                <a href="#">Endocrinolos</a>
                <ol>
                    <li><a href="#">Daniel</a></li>
                    <li><a href="#">Rosio</a></li>
                    <li><a href="#">Estela</a></li>
                    <li><a href="#">Tomas</a></li>
                    <li><a href="#">Mariana</a></li>
                </ol>
            </li>
            <li>
                <a href="#">Dermatologos</a>
                <ol>
                    <li><a href="#">Abby</a></li>
                    <li><a href="#">Alexander</a></li>
                    <li><a href="#">Gabriel</a></li>
                    <li><a href="#">Daniel</a></li>
                    <li><a href="#">Camilo</a></li>
                    <li><a href="#">Valeria</a></li>
                </ol>
            </li>
            <li>
                <a href="#">Odontologos</a>
                <ol>
                    <li><a href="#">Susana</a></li>
                    <li><a href="#">Camila</a></li>
                    <li><a href="#">Ana Maria</a></li>
                    <li><a href="#">Sofia</a></li>
                    <li><a href="#">Gisela</a></li>
                    
                </ol>
            </li>
        </ol>
    </div>
    <div>
        <a href = "/">Pagina principal </a>
    </div>
</body>
<footer>
</footer>

</html>