<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for ('static', filename = 'css/home.css')}}">
  <title>Document</title>
</head>

<body>
  <div>
    <h1 id="title">𝑩𝒊𝒆𝒏𝒗𝒆𝒏𝒊𝒅@...</h1>
  </div>
  <div class="bt-group">
    <a href="/pacientes">Pacientes</a>
    <a href="/doctores">Doctores</a>
    <a href="/conocenos">Conocenos</a>
    <a href="/contactanos">Contactanos</a>
    <a href="/curioso">Curioso</a>
  </div>
</body>

</html>