<!--LISTAS-->
<html>
<header>
    <meta charset="utf-8">
    <title>Ejemplo 04</title>
    <link rel="stylesheet" type="text/css" href="css/list.css">
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/pacientes.css')}}">
</header>

<body>
    <h1>Pacientes Hospitalizados</h1>
    <div class="centro">
        <ol class="rounded-list">
            <li>
                <a href="#">Por Covid</a>
                <ol>
                    <li><a href="#">Dario</a></li>
                    <li><a href="#">Ester</a></li>
                    <li><a href="#">Genia</a></li>
                    <li><a href="#">Carlos</a></li>
                    <li><a href="#">David</a></li>
                    <li><a href="#">Raul</a></li>
                </ol>
            </li>
            <li>
                <a href="#">Por Lupus</a>
                <ol>
                    <li><a href="#">Juliana</a></li>
                    <li><a href="#">Jorge</a></li>
                    <li><a href="#">Claudia</a></li>
                    <li><a href="#">Valeria</a></li>
                    <li><a href="#">Adriana</a></li>
                </ol>
            </li>
            <li>
                <a href="#">Por Cancer</a>
                <ol>
                    <li><a href="#">Jhon</a></li>
                    <li><a href="#">Natalia</a></li>
                    <li><a href="#">Julian</a></li>
                    <li><a href="#">Felipe</a></li>
                    <li><a href="#">Leticia</a></li>
                    <li><a href="#">Consuelo</a></li>
                </ol>
            </li>
            <li>
                <a href="#">Por Diavetes</a>
                <ol>
                    <li><a href="#">Mirian</a></li>
                    <li><a href="#">Yolanda</a></li>
                    <li><a href="#">Doriz</a></li>
                    <li><a href="#">Alvaro</a></li>
                    <li><a href="#">Rodrigo</a></li>
                    <li><a href="#">Teresa</a></li>
                    <li><a href="#">Danielly</a></li>
                    <li><a href="#">Michelle</a></li>
                </ol>
            </li>
        </ol>
    </div>
    <div>
        <a href = "/">Pagina principal </a>
    </div>
</body>
<footer>
</footer>

</html>