<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for ('static', filename = 'css/login.css')}}">
</head>

<body>
  <div class="login-wrap">
    <div class="login-html">
      <h1 class="bigTitle">
        Registrarse
      </h1>
      <form class="login-form" action="login" method="POST">
        <div class="group1">
            <input type="text" name="name" placeholder="Ingrese su nombre" />
        </div>
        <div class="group1">
          <input type="password" name="pass" placeholder="Ingrese su contraseña" />
        </div>
        <div class="group">
          <input id="check" type="checkbox" name="check" checked />
          <label for="check"><span class="icon"></span>Seguir viendo </label>
        </div>
        <div class="group">
          <input type="submit" name="submit" class="button" value="Entrar" />
        </div>
        <div class="hr">
          <hr>
        </div>
        <div class="foot-Ink">
          <a href="#forgot">Recordar clave?</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>