<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | casas</title>
    <link rel= "stylesheet" href="{{url_for('static', filename = 'css/lugares.css')}}">

</head>
<body>
    <div class="menu col-10">
          <div class="col-3">
            <h3>Acerca de mi</h3>
          </div>
          <div class="col-3">
            <h3>Diseños</h3>
          </div>
          <div class="col-3">
            <h3>Fotografias</h3>
          </div>
          <div class="col-2">
            <h3>Videos</h3>
        </div>
    </div>

</section>


<section>
<div class="col-3"><br><br>
  <img src="https://anotheraurora.files.wordpress.com/2016/02/poligonal_wolf_illustration_by_animepicturesbecause-d9gtlaj.jpg">
</div>
  <div class="col-3"><br><br>
  <img src="https://orig00.deviantart.net/dfda/f/2013/162/1/8/pintura_digital___homem_de_ferro_finalizada_by_gabior-d68obso.jpg">
</div>
    <div class="col-3"><br><br>
  <img src="https://orig00.deviantart.net/70db/f/2016/184/8/c/learning_how_to_desintegrate_by_ppfox-da8moem.jpg">
</div>
      <div class="col-3"><br><br>
  <img src="https://www.punmiris.com/himg/o.45977.jpg">
</div>
        
</section>
<br><br>

<section>
    <div class="menu2 col-10">
          <div class="col-3">
            <h3>Arte Poligonal</h3>
          </div>
          <div class="col-3">
            <h3>Pintura Digital</h3>
          </div>
          <div class="col-3">
            <h3>Implementación-Photoshop</h3>
          </div>
          <div class="col-2">
            <h3>Fotografía Natural</h3>
        </div>
    </div>
</section>


<section>
 <div class="menu3 col-10"> <br>
   <div class="Prog col-12" >
     <h1> Programas </h1>
     </div>
</div>

</section>

<section>
 <div class="prog col-4"><br><br>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Adobe_Photoshop_CS6_icon.svg/2000px-Adobe_Photoshop_CS6_icon.svg.png" style:"float-center">
</div> 
  </section>

<section>

    <div class="prog col-4"><br><br>
         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Adobe_Illustrator_Icon_%28CS6%29.svg/514px-Adobe_Illustrator_Icon_%28CS6%29.svg.png" style:"float-center">
</div> 
  
  </section>

<section>

    <div class="prog col-4"><br><br>
         <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Adobe_After_Effects_CS6_Icon.png">
</div> 
  
  </section>


<section>
    <div class="menu4 col-11">
          <div class="col-3">
            <h3>Photoshop 75%</h3>
          </div>
          <div class="col-5">
            <h3>Ilustrador 50%</h3>
          </div>
          <div class="col-2">
            <h3>After Effects 75%</h3>
        </div>
    </div>
</section>


<section>

    <div class="prog2 col-5"><br><br>
         <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Adobe_Premiere_Pro_CS6_Icon.png" style:"float-center">
</div> 
  
  </section>

<section>

    <div class="prog2 col-5"><br><br>
         <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Adobe_Audition_CS6_Icon.png">
</div> 
  
  </section>


<section>
    <div class="menu4 col-11">
          <div class="col-3">
            <h3>Premier 60%</h3>
          </div>
          <div class="col-6">
            <h3>Adobe Audition 50%</h3>
          </div>
</div>

<section>
 <div class="menu5 col-10"> <br>
   <div class="Prog col-12" >
     <h1> Contacto </h1>
     <h1> Para más información visita <h1>
              <a href="https://carlos-2595.wixsite.com/misitiocreativo" target="_blank"> Mi Blog Personal </a> 
              <a href= "/home">pagina principal</a>
     </div>
</div>
    <a href= "/home">pagina principal</a>
</body>
</html>

