<!DOCTYPE html>
<html lang="en">

<head>
    <title>Galeria</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/personajes.css')}}">
</head>

<body>
  <h1>Personas que inspiran mi vida y han dejado una huella que quiero seguir</h1>
   <div class="container">
    <div class="foto1">
        <div class="photo">
            <a href=""><img src= "{{url_for ('static', filename = 'images/papa.jpg')}}" alt="Foto1" class="papa"></a>
            <h2>"Roberto"</h2>
        </div>
    </div>
    <div class="foto2">
        <div class="photo">
            <a href=""><img src="{{url_for ('static', filename = 'images/mama.jpg')}}" alt="Foto1" class="mama"></a>
            <h2>"Sandra"</h2>
        </div>
    </div>
    <div class="foto3">
        <div class="photo">
            <a href=""><img src="{{url_for ('static', filename = 'images/albert.jpg')}}" alt="Foto1" class="albert"></a>
            <h2>"albert"</h2>
        </div>
    </div>
    <div class="foto4">
        <div class="photo">
            <a href=""><img src="{{url_for ('static', filename = 'images/jesus.jpg')}}" alt="Foto1" class="jesus"></a>
            <h2>"Jesús"</h2>
        </div>
    </div>
    <div class="foto5">
        <div class="photo">
            <a href=""><img src="{{url_for ('static', filename = 'images/yo.jpg')}}" alt="Foto1" class="yo"></a>
            <h2>"Santiago"</h2>
        </div>
    </div>
    <div class="foto6">
        <div class="photo">
            <a href=""><img src="{{url_for ('static', filename = 'images/hermana.jpg')}}" alt="Foto1" class="hermana"></a>
            <h2>"Daniela"</h2>
        </div>
    </div>
</div>
<div>
    <a href= "/home">pagina principal</a>
</div>
</body>

</html>