<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/abaout.css')}}">
</head>

<body>
    <!DOCTYPE html>
    <!-- La ligne ci-dessus indique qu'il s'agit bien d'une page web HTML. -->

    <html lang="fr">
    <!-- `<html>` est la balise principale du code. Elle englobe tout le contenu de ma page. -->

    <head>
        <!-- Cette section donne quelques informations générales sur la page comme son titre, l'encodage. Les informations que contient l'en-tête ne sont pas affichées sur la page, ce sont simplement des informations générales à destination de l'ordinateur. -->

        <meta charset="utf-8">
        <!-- Cette méthode d'encodage permet d'afficher pratiquement tous les symboles de toutes les langues de notre planète ! -->

        <!-- CodePen n'a pas besoin que soit utilisé une balise `<link>` comme suit mais c'est l'usage pour connecter la page html avec la feuille de styles. ex:
    <link rel="stylesheet" href="styles.css">
    -->

        <!-- Eh bien oui, je pense que nous serons amenés à nous revoir... ;) 
Le titre s'affiche en général dans l'onglet du navigateur. -->

    </head>

    <body>
        <!-- C'est là que se trouve la partie principale de la page. Tout ce que j'écris ici sera affiché à l'écran. -->
        <header>

            <div class="header_gauche"></div>

            <div class="header_centre">
                <p><br></p>
                <p>
                <h1> &nbsp; Sobre Nosotros &nbsp; </h1>
                </p>
            </div>

            <div class="header_droite">

            </div>

        </header>

        <section>

            <div class="section_whoami">
                <div class="sous-section">
                    <div class="s-s-titre">
                        <h2> Historia </h2>
                        <hr class="du_titre">
                    </div>
                    <div class="s-s-texte">
                        <p class="section">
                            El hospital fue construido en 1945 despues de la segunda guerra mundial, los primeros en participar
                            fue un cardiologo, un soldado y un odontologo <a
                                href="https://www.liderdoctor.es/segunda-opinion-medica/listado-de-especialidades/?fbclid=IwAR1M2Vu0U-Tq9Xu7BZmCfMy7czJR2qt8MfQF0udeXOOkNxWWA0_goI23e4k"
                                target="_blank" title="Une idée de voyage post-confinement...">Albi</a>
                        </p>
                        <p class="section">
                            Muchos años de trabajo 

                            
                        <ul>
                            <li>
                                Muchos recursos invertidos

                                 <br>
                            </li>
                            <br>
                            <li>
                                Un corazon siempre dispuesto al servisio 
                            </li>
                        </ul>
                        </p>
                        <p class="section">
                            Una familia dispuesta a trabajar por el pais 
                        </p>
                        <p class="section">
                            Amor 
                        </p>
                        <p class="youpi">
                            ƪ(ړײ)‎ƪ​​<br>El mejor hospital del pais!!<br>
                        </p>
                    </div>
                </div>

                <div class="sous-section">
                    <div class="s-s-titre">
                        <h2> Mision y vision </h2>
                        <hr class="du_titre">
                    </div>
                    <div class="s-s-texte">
                        <p class="section">
                            Nuestra mision es poder darle salud y tranquilidad a los ciudadanos
                        <ul>

                            <br>
                            <li>
                                Nuestra vision es para el 2025 ser el hospital mas innovador del pais
                            </li>
                            <br>

                            <br>
                            Un paso a la vez
                            </li>
                            <br>
                            <li>
                                <br>
                                si lo podemos soñar lo podemos lograr 

                            </li>
                            <br>
                            <li>
                                <br>
                                disciplina

                            

                            </li>
                            </li>
                            <br>

                            <br>
                            Amor
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>




                <footer>
                    <div class="titre">
                        <br>
                        <h2>Contacto</h2>
                    </div>
                    <hr>
                    <div class="contact">
                        <h3> Direccion </h3>
                        <p>
                            <br>
                            Calle 17 # 40b - 320
                        </p>
                    </div>
                    <div class="contact">
                        <h3> Gracias </h3>
                        <p> Por preferirnos </p>
                        <br>
                        <p class="love"> <span class="bisou"></span><span class="coeur">♥️</span> -
                        </p>
                    </div>
                    <div class="contact">
                    <a href="/">Pagina principal</a>

                    </div>
                </footer>
    </body>