<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/contact.css')}}">
</head>
<body>
    <body>
        <div class="flexbox">
            <div class="flex flexbottom">
                <h1 class="stepNumber">Contact</h1>
                <div class="textbox">
                    <p>Telefono fijo
                        3152205478
                        
                        </p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt="">
                </div>
            </div>
            <div class="flex flextop">
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126876_960_720.png" />
                </div>
                <h1 class="stepNumber">Resultados</h1>
                <div class="textbox">
                    <p>Para conocer tus resultados marcar al 318517235

                        </p>
                </div>
    
            </div>
            <div class="flex flexbottom">
                <h1 class="stepNumber">Prioritaria</h1>
                <div class="textbox">
                    <p>Para cita prioritaria marcar al 31856527</p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126878_960_720.png" alt="">
                </div>
            </div>
            <div class="flex flextop">
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/01/10/23/01/vector-1970471_960_720.png" alt="">
                </div>
                <h1 class="stepNumber">Covid</h1>
                <div class="textbox">
                    <p> Si presentas sintomas de covid  llamar al 316627333

                       </p>
                </div>
    
            </div>
            <div class="flex flexbottom">
                <h1 class="stepNumber">UCI</h1>
                <div class="textbox">
                    <p>Si tines algun familiar en UCI llamar al 3256633838

                        </p>
                </div>
                <div class="imgbox">
                    <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126884_960_720.png" alt="">
                </div>
            </div>
    
        </div>
    
    
        <footer> &copy;Calle 17 # 40b - 320</footer>
        <a href = "/">Pagina principal </a>
        
        
    
    </body>
</body>
</html>