body {
    background-image: url("https://www.lavanguardia.com/r/GODO/LV/p6/WebSite/2019/10/29/Recortada/img_mantigone_20191014-105818_imagenes_lv_terceros_istock-1094668446-kfRC-U471281959131K6-992x558@LaVanguardia-Web.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    font-family: 'Courgette', cursive;
}

h1,h2 {
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 80px;
}

h2 {
    font-size: 28px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    position:relative;
}

.photo {
    padding: 20px;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.photo:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.20), 0 6px 20px 0 rgba(0,0,0,0.20);
}

.foto1 {
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    transform:rotate(-10deg);
    transition: 1s all;
}
.papa{
    width: 210px;
}

.foto2 {
    position:absolute;
    top: 0px;
    left: 170px;
    z-index: 1;
    transform:rotate(10deg);
    transition: 1s all;
}
.mama{
    width: 210px;
}

.foto3 {
    position:absolute;
    top: 400px;
    left: 460px;
    z-index: 6;
    transform:rotate(-4deg);
    transition: 1s all;
}
.albert{
    width: 210px;
}

.foto4 {
    position:absolute;
    top:390px;
    left:200px;
    z-index: 4;
    transform:rotate(5deg);
    transition: 1s all;
}
.jesus{
    width: 210px;
}

.foto5 {
    position:absolute;
    top: 0px;
    left: 380px;
    z-index: 5;
    transform:rotate(-5deg);
    transition: 1s all;
}
.yo{
    width: 210px;
}

.foto6 {
    position:absolute;
    top:0px;
    left:580px;
    z-index: 2;
    transform:rotate(-2deg);
    transition: 1s all;
}
.hermana{
    width: 210px;
}

.foto1:hover,
.foto2:hover,
.foto3:hover,
.foto4:hover,
.foto5:hover,
.foto6:hover {
    z-index: 7;
    transform: none;
    transform: scale(1.3);    
}